:root {
  font-family: "Cutive Mono", monospace;
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.index {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header     header      header" "main       main        main" "nosotros   nosotros    media" "footer     footer      footer"; }

/* Cabecera */
header {
  grid-area: header; }

.cabecera {
  display: flex;
  justify-content: end;
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #000; }
  .cabecera__text, .cabecera__navegacionPC a {
    color: #000;
    display: inline-block;
    margin: 0 0.938rem;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-family: "Cutive Mono", monospace;
    transition: all .4s ease; }
  .cabecera__text:hover, .cabecera__navegacionPC a:hover {
    color: #dc3545; }
  .cabecera__navegacionPC {
    margin-top: 1.9rem;
    display: inline-block;
    text-align: end; }
  .cabecera__navegacionPC li {
    list-style: none;
    display: inline-block; }
  .cabecera__navegacionPC a:hover {
    color: #dc3545; }
  .cabecera__navegacion--contacto {
    padding: 0.625rem;
    background-color: #ffe6d1;
    margin-top: -0.625rem;
    margin-right: 0.625rem;
    transition: all .4s ease; }
  .cabecera__navegacion--contacto:hover {
    background-color: #ffd5b3; }
  .cabecera__redes-sociales {
    display: inline-block;
    position: relative;
    margin-top: 1.25rem;
    margin-right: 0.938rem;
    top: 7px; }
  .cabecera__icono {
    width: 1.875rem; }
  .cabecera__redes-sociales a {
    display: inline-block;
    margin: 0 0.313rem; }
  .cabecera__logo {
    margin-top: 0.938rem;
    left: 0.8rem;
    position: absolute; }
  .cabecera__logo img, .cabecera__logo a {
    width: 7.813rem; }

/* Fondo y logo medio */
.index .fondo {
  grid-area: main; }
  .index .fondo__contenedor {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; }
  .index .fondo__logo {
    position: absolute;
    bottom: 2rem; }
  .index .fondo__logo img {
    width: 250px; }

/* quienes somos */
.index .articulo {
  grid-area: nosotros; }
  .index .articulo article {
    display: flex; }
  .index .articulo__seccion {
    position: relative;
    width: 100%;
    height: 21.375rem;
    display: flex;
    flex-direction: row; }
  .index .articulo__nosotros {
    box-shadow: 0px -3px 18px 0px rgba(0, 0, 0, 0.3);
    width: 100%; }
  .index .articulo__nosotros h1 {
    text-align: center;
    margin-bottom: 1.625rem;
    margin-top: 7.813rem;
    font-family: "Cutive Mono", monospace;
    font-size: 1rem; }
  .index .articulo__nosotros p {
    font-family: "Cutive Mono", monospace;
    font-size: 1rem; }
  .index .articulo__nosotros p {
    width: 50%;
    text-align: center;
    margin: auto; }

.index .seccion {
  grid-area: media; }
  .index .seccion__media {
    position: relative;
    display: flex;
    box-shadow: 0px -3px 18px 0px rgba(0, 0, 0, 0.3); }
  .index .seccion__media video {
    width: 608px;
    display: flex; }

.moda {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "foto       titulo" "linea      linea" "titulo2    foto2"; }
  .moda__contenedor {
    grid-area: foto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 19px; }
  .moda__contenedor img,
  .moda__contenedorDos img {
    height: 37.5rem;
    padding: 2.5rem;
    width: 100%;
    box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5); }
  .moda__contenedorDos img {
    background-color: #fbf6ee; }
  .moda__nosotros {
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
  .moda__contenedor .moda__nosotros h1,
  .moda__conentedorDos .moda__textoIzquierda h1 {
    margin-bottom: 3.75rem;
    font-family: "Cutive Mono", monospace; }
  .moda hr {
    grid-area: linea;
    width: 83%;
    border: 1px solid #808080;
    text-align: center;
    margin: 2.5rem auto; }
  .moda__contenedorDos {
    grid-area: foto2;
    display: flex;
    justify-content: center;
    margin: 50px 0px; }
  .moda__textoIzquierda h1,
  .moda__nosotros h1 {
    font-size: 1rem;
    margin-bottom: 40px; }
  .moda__textoIzquierda {
    grid-area: titulo2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .moda__textoIzquierda h1,
  .moda__textoIzquierda p {
    width: 70%;
    margin-left: 9rem; }

.fondoComida {
  position: relative;
  width: 100%;
  height: 39.5rem;
  background-image: url(../../img/comida.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .fondoComida__texto {
    width: 40%;
    color: #ffffff;
    margin-left: 200px;
    text-align: justify;
    hyphens: auto;
    font-family: "Cutive Mono", monospace; }
  .fondoComida__texto h1 {
    margin-bottom: 1.25rem;
    font-size: 1rem; }
  .fondoComida__parrafo {
    line-height: 1.3; }

input[type="button"] {
  width: 7.5rem;
  height: 2.5rem;
  margin-top: 3.75rem;
  background-color: purple;
  border: 1px solid #800080;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  box-shadow: 0px 0px 52px 11px #800080;
  letter-spacing: 0.063rem;
  transition: all .4s ease;
  color: #ffffff; }
  input[type="button"]:hover {
    background-color: magenta;
    box-shadow: 0px 0px 52px 35px #800080; }

/* arreglo bootstrap */
ol, ul {
  padding-left: 0;
  margin-bottom: 0rem;
  line-height: 1.2rem;
  font-family: "Cutive Mono", monospace; }

/* arreglo bootstrap */
.retratos {
  position: relative;
  margin: 0 auto;
  width: 78%;
  display: flex;
  flex-direction: column; }
  .retratos__texto {
    margin: 3.125rem auto;
    text-align: center;
    font-family: "Cutive Mono", monospace;
    font-size: 1rem;
    color: #000; }
  .retratos__texto h1 {
    margin-bottom: 3.125rem;
    font-family: "Cutive Mono", monospace;
    font-size: 1rem;
    font-weight: bold; }
  .retratos__fotos {
    margin-bottom: 3.125rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center; }
  .retratos__imagen img {
    width: 100%;
    padding: 0.625rem; }

.caja {
  display: grid;
  position: relative;
  width: 100%;
  height: 41.188rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  top: -50px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "texto       form" "texto       form"; }
  .caja__formulario {
    grid-area: form;
    padding: 1.25rem;
    background-color: #f0f8ff;
    margin: 50px;
    width: 75%; }
  .caja__formulario input[type="text"],
  .caja__formulario input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.938rem 0.625rem;
    border: none;
    border-bottom: 0.125rem solid #cccccc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    outline: none;
    background-color: white; }
  .caja textarea {
    padding: 1.25rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 12.5rem;
    min-height: 12.5rem;
    outline: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    padding-left: 9px;
    background-color: #fafbfd;
    border: none;
    border: 0.125rem solid #ccc; }
  .caja__formulario input[type="submit"] {
    background: #bdc5cc;
    padding: 1.25rem;
    width: 100px;
    cursor: pointer;
    margin-top: 0.938rem;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
    letter-spacing: 0.063rem; }
  .caja__texto {
    grid-area: texto;
    height: 29.063rem;
    left: 87px;
    margin-left: 100px;
    position: absolute;
    color: #000; }
  .caja__texto h2,
  .caja__texto p {
    font-size: 1rem; }
  .caja__texto p {
    margin-top: 10px; }
  .caja__texto img {
    width: 430px;
    height: 20.875rem;
    bottom: 0;
    position: absolute;
    left: 0; }

.linea-contacto {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 3.125rem;
  display: block;
  width: 80%; }
  .linea-contacto hr {
    display: inline-block;
    width: 84%;
    border: 0.063rem solid #808080;
    text-align: center;
    margin: 2.5rem auto;
    margin-bottom: 2.5rem;
    margin-bottom: 0.188rem; }

.footerDos {
  width: 100%;
  text-align: center;
  height: 25rem;
  color: #ffff;
  font-size: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#18374e, #122a3a);
  font-family: "Cutive Mono", monospace; }
  .footerDos ul {
    list-style-type: none;
    text-align: justify;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-left: 2rem;
    padding-left: 0; }
  .footerDos__redes-sociales {
    display: flex;
    margin-top: 15px;
    margin-left: 1rem; }
  .footerDos__icono {
    margin: 0 0.313rem;
    background-color: #152f42;
    width: 26px; }
  .footerDos__redes-sociales a {
    margin: 0 4px; }
  .footerDos__sombra {
    position: absolute;
    box-shadow: 0px -3px 18px 0px #800080; }
  .footerDos__mapa {
    display: block;
    position: absolute;
    padding: 3rem;
    right: 0rem; }

/* Footer del index */
footer {
  grid-area: footer; }

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  height: 400px;
  background-image: linear-gradient(#18374e, #122a3a);
  color: #ffff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center; }
  .footer__caja {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 64%;
    height: 12.5rem;
    top: 8rem; }
  .footer__valores {
    width: 20%;
    list-style: none; }
  .footer__valores h2 {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    font-family: "Cutive Mono", monospace; }
  .footer__valores p {
    font-family: "Cutive Mono", monospace; }

.footer .footerDos__redes-sociales {
  display: none; }

/* Footer del index */
/* inicio animacion del logo index */
.rotate-vert-center {
  -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

/* animacion logo */
.cabecera__logo img {
  transition: transform .8s; }

.cabecera__logo img:hover {
  transform: scale(1.1); }

/* fin animacion logo */
@media screen and (max-width: 1150px) {
  /* Inicio contacto */
  .caja .caja__texto img {
    display: none; }
  .footerDos .footerDos__mapa {
    display: none; }
  /* fin contacto */ }

@media screen and (min-width: 320px) and (max-width: 990px) {
  /* INICIO INDEX */
  .index {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header     header      header" "main       main        main" "nosotros   nosotros    nosotros" "media      media       media" "footer     footer      footer"; }
  .cabecera {
    height: auto;
    display: flex;
    flex-direction: column; }
    .cabecera__navegacionPC {
      display: inline-block;
      text-align: end; }
    .cabecera__navegacionPC ul {
      display: flex;
      flex-direction: column; }
    .cabecera__navegacionPC a {
      margin: 10px auto;
      display: flex;
      justify-content: center; }
    .cabecera__icono {
      display: none; }
    .cabecera__btn {
      border: none; }
    .cabecera__btn:focus {
      box-shadow: none; }
    .cabecera__btn--top {
      top: 20px; }
    .cabecera__text, .cabecera__navegacionPC a {
      text-align: center; }
  .index .fondo .fondo__contenedor {
    display: flex;
    justify-content: center;
    height: 548px;
    background-position: inherit; }
    .index .fondo .fondo__contenedor__logo {
      bottom: 4rem; }
  .index .articulo__nosotros h1 {
    text-align: center;
    margin-top: 6rem;
    width: 100%; }
  .index .articulo__nosotros p {
    width: 90%;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5rem; }
  .index .seccion .seccion__media video {
    width: 100%;
    display: flex; }
  .footer {
    height: 100px; }
    .footer__caja {
      height: 0px;
      top: 0px; }
    .footer__valores {
      display: none; }
  .footer .footerDos__redes-sociales {
    display: flex;
    margin-left: 1rem;
    margin: 38px auto; }
  /* FIN INDEX */
  /* INICIO MODA */
  .moda {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "foto        foto" "titulo      titulo" "linea      linea" "foto2      foto2"   "titulo2    titulo2"; }
    .moda__contenedor img {
      height: 100%;
      padding: 2.5rem;
      width: 100%;
      box-shadow: none; }
    .moda__nosotros {
      width: 100%;
      align-content: center;
      grid-area: titulo;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .moda__nosotros p {
      margin: 0 15px;
      margin: 0 38px;
      text-align: justify;
      hyphens: auto; }
    .moda__contenedorDos {
      margin: 10px 0px; }
    .moda__contenedorDos img {
      height: 100%;
      width: 100%;
      padding: 0px;
      box-shadow: none; }
    .moda__textoIzquierda {
      margin: 0 17px; }
    .moda__textoIzquierda p {
      width: 84%;
      text-align: justify;
      hyphens: auto;
      margin-bottom: 20px; }
    .moda__textoIzquierda h1 {
      width: 100%;
      margin: 10px auto;
      text-align: center;
      margin-bottom: 29px; }
    .moda__textoIzquierda h1,
    .moda__textoIzquierda p {
      margin: 10px auto;
      text-align: center;
      margin-bottom: 29px; }
  .cabecera__logo {
    margin: 0.938rem auto;
    position: static; }
  .cabecera__navegacion--contacto {
    background-color: #ffe6d1;
    margin-top: -0.625rem;
    margin: 10px 85px; }
  .footerDos {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #122a3a;
    color: #ffff;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-content: center; }
    .footerDos ul {
      display: none; }
    .footerDos__redes-sociales {
      display: flex;
      margin: 0 auto; }
    .footerDos__icono {
      margin: 0 0.313rem;
      background-color: #152f42;
      width: 26px; }
  /* FIN DE MODA */
  /* INICIO FOOD FOTOGRAPHY */
  .fondoComida {
    display: flex;
    justify-content: end; }
    .fondoComida__texto {
      width: 40%;
      color: #ffffff;
      margin-left: 200px;
      display: flex; }
    .fondoComida__texto h1,
    .fondoComida__texto p {
      display: none; }
  input[type="button"] {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 16px;
    left: 0px;
    right: 0px; }
  /* FIN FOOD FOTOGRAPHY */
  /* INICIO CONTACTO */
  .caja {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "texto       texto" "form        form    "; }
    .caja__texto {
      display: none; }
    .caja__formulario {
      margin: 0 auto; }
  .linea-contacto {
    display: none; }
  /* FIN CONTACTO */ }
