/* General */

:root{
    font-family: 'Cutive Mono', monospace;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Index */
/* GRIDS */

.index{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header     header      header"
                         "main       main        main"
                         "nosotros   nosotros    media"
                         "footer     footer      footer";
}

/* Cabecera */

header {
    grid-area: header;
}


.cabecera {
    display: flex;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #000;  
}


.cabecera .cabecera__navegacionPC {
    margin-top: 1.9rem;
    display: inline-block;
    text-align: end;
}


.cabecera .cabecera__navegacionPC li {
    list-style: none;
    display: inline-block;
}


.cabecera .cabecera__navegacionPC a {
    display: inline-block;
    margin: 0 0.938rem;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-family: 'Cutive Mono', monospace;
    transition: all .4s ease;
}

.cabecera .cabecera__navegacionPC a:hover {
    color: #dc3545;
}

.cabecera .cabecera__navegacionPC .cabecera__navegacion--contacto {
    padding: 0.625rem;
    background-color: hsl(27, 100%, 91%);
    margin-top: -0.625rem;
    margin-right: 0.625rem;
    transition: all .4s ease;
}

.cabecera .cabecera__navegacionPC .cabecera__navegacion--contacto:hover {
    background-color: hsl(27, 100%, 85%);
}


.cabecera .cabecera__redes-sociales {
    display: inline-block;
    position: relative;
    margin-top: 1.25rem;
    margin-right: 0.938rem;
    top: 7px;
}



.cabecera .cabecera__redes-sociales .cabecera__icono {
    width: 1.875rem;
}

.cabecera .cabecera__redes-sociales a {
    display: inline-block;
    margin: 0 0.313rem;
}


.cabecera .cabecera__logo {
    margin-top: 0.938rem;
    left: 0.8rem;
    position: absolute;
    
}


 .cabecera .cabecera__logo img, .cabecera .cabecera__logo a {
    width: 7.813rem;
    
}







/* Fondo y logo medio */

.fondo {
    grid-area: main;
}


.fondo .fondo__contenedor {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;      
}


.fondo .fondo__logo {
    position: absolute;
    bottom: 2rem;  
    /* bottom: 4rem; */
}

.fondo .fondo__logo img {
    width: 250px;
}


/* quienes somos */


.articulo{
    grid-area: nosotros;
}

.articulo article {
    display: flex;
}


.articulo .articulo__seccion {
    position: relative;
    width: 100%;
    height: 21.375rem;
    display: flex; 
    flex-direction: row;
}

.articulo .articulo__seccion .articulo__nosotros {
    box-shadow: 0px -3px 18px 0px rgba(0,0,0,0.3);
    /* width: 100%; */
}

.articulo__nosotros h1 {
    text-align: center;
    margin-bottom: 1.625rem;
    margin-top: 7.813rem;
}

.articulo__nosotros p {
    width: 50%;
    text-align: center;
    margin: auto;   
}


.index .seccion {
    grid-area: media;
}


.seccion .seccion__media {
    position: relative;
    display: flex;
    box-shadow: 0px -3px 18px 0px rgba(0,0,0,0.3);
    /* width: 100%; */
}

.seccion .seccion__media video {
    width: 608px;  
    /* width: 100% */
    display: flex;
}


/* Moda */
/* GRIDS */



.moda{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:  
                          "foto       titulo"
                           "linea      linea"
                          "titulo2    foto2"    
                          
}




.main__contenedor img,
.main__contenedorDos img {
    height: 37.5rem;
    padding: 2.5rem;
    width: 100%;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.5);
}

.main__contenedorDos img  {
    background-color: hsl(34, 63%, 96%);
}


.main__contenedor .main__nosotros h1,
.main__conentedorDos .main__textoIzquierda h1 {
    margin-bottom: 3.75rem;
}


.main__contenedor {
	grid-area: foto;
	display: flex;
	justify-content: center;
	align-content: center;
    margin-top: 19px;

}



.main__nosotros {
	width: 70%;
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

hr {
    grid-area: linea;
    width: 83%;
    border: 1px solid grey;
    text-align: center;
    margin: 2.5rem auto;
}


.main__contenedorDos {
	grid-area: foto2;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    
}

.main__textoIzquierda h1,
.main__nosotros h1 {
    font-size: 1rem;
    margin-bottom: 40px;
}




.main__textoIzquierda {
	grid-area: titulo2;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.main__textoIzquierda h1,
.main__textoIzquierda p {
    width: 70%;
   margin-left: 9rem;
}



   
/* Food Photography */

.fondoComida {
    position: relative;
    width: 100%;
    height: 39.5rem;
    background-image: url(../../img/comida.jpg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fondoComida .fondoComida__texto {
    width: 40%;
    color: #ffffff;
    margin-left: 200px;
    text-align: justify;
    hyphens: auto;

}


.fondoComida .fondoComida__texto h1 {
    margin-bottom: 1.25rem;
}

input[type="button"] {
    width: 7.5rem;
    height: 2.5rem;
    margin-top: 3.75rem;
    background-color: hsl(300, 100%, 25%);
    border: 1px solid #800080;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    box-shadow: 0px 0px 52px 11px #800080;
    letter-spacing: 0.063rem;
    transition: all .4s ease;
}

input[type="button"]:hover {
    background-color: hsl(300, 100%, 50%);
    box-shadow: 0px 0px 52px 35px #800080;

}


  /* Retratos */

.retratos {
    position: relative;
    margin: 0 auto;
    width: 78%;
    display: flex;
    flex-direction: column;
}
  

.retratos .retratos__texto {
    margin:  3.125rem auto;
    text-align: center;
}

.retratos .retratos__texto h1 {
    margin-bottom: 3.125rem;
}

.retratos .retratos__fotos {
    margin-bottom: 3.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.retratos .retratos__fotos .retratos__imagen img {
    width: 385px;
    padding: 0.625rem;
}





/* Contacto */

.linea-contacto {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 3.125rem;
    display: block;
    width: 80%;
}

.linea-contacto hr {
    display: inline-block;
    width: 84%;
    border: 0.063rem solid grey;
    text-align: center;
    margin: 2.5rem auto;
    margin-bottom: 2.5rem;
    margin-bottom: 0.188rem;
}




.caja {
    position: relative;
    width: 100%;
    height: 41.188rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    top: -50px;
}


.caja .caja__formulario {
	width: 39%;
	padding: 1.25rem;
	background-color: #f0f8ff;
}

.caja .caja__formulario input[type="text"],
.caja .caja__formulario input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.938rem 0.625rem;
    border: none;
    border-bottom: 0.125rem solid hsl(0, 0%, 80%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    outline: none;
    background-color: hsl(0, 0%, 100%);
    
}

textarea {
    padding: 1.25rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 12.5rem;
    min-height: 12.5rem;
    outline: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    padding-left: 9px;
    background-color: #fafbfd;
    border: none;
    border: 0.125rem solid #ccc;  
}


.caja .caja__formulario input[type="submit"] {
    background: #bdc5cc;
    padding: 1.25rem;
    width: 100px;
    cursor: pointer;
    margin-top: 0.938rem;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
    letter-spacing: 0.063rem;
}


.caja .caja__texto {
    width: 38%;
    height: 29.063rem;
    position: relative;  
    left: -31px;
}
    



.caja .caja__texto  img {
    width: 430px;
    height: 20.875rem;
    bottom: 0;
    position: absolute;
    left: 0;
}





/* Footer */


.footerDos {
    width: 100%;
    text-align: center;
    height: 25rem;
    /* background-color: hsl(205, 52%, 15%); */
    color: #ffff;
    font-size: 0.8rem;  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(hsl(205, 52%,20%), hsl(205, 52%, 15%));
}


.footerDos ul {
    list-style-type: none;
    text-align: justify;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-left: 2rem;
}
  

.footerDos .footerDos__redes-sociales {
    display: flex;
    margin-top: 15px;
    margin-left: 1rem;
}

.footerDos .footerDos__redes-sociales .footerDos__icono {
    margin: 0 0.313rem;
    background-color: hsl(205, 52%, 17%);
    width: 26px; 
}

.footerDos .footerDos__redes-sociales a {
    margin: 0 4px;
}


.footerDos__sombra {
    position: absolute;
    box-shadow: 0px -3px 18px 0px #800080;
}


.footerDos .footerDos__mapa {
    display: block;
    position: absolute;
    padding: 3rem;
    right: 0rem;   
}



/* Footer del index */

footer {
    grid-area: footer;
}

.footer {         
    position: relative;
    width: 100%;
    text-align: center;
    height: 400px;
    background-image: linear-gradient(hsl(205, 52%,20%), hsl(205, 52%, 15%));
    color: #ffff;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

.footer .footer__caja {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 64%;
    height: 12.5rem;
    top: 8rem;
}

.footer .footer__caja  .footer__valores {
    width: 20%;
    list-style: none; 
}

.footer .footer__caja  .footer__valores h2 {
    margin-bottom: 1.25rem;

}

.footer .footerDos__redes-sociales {
    display: none;
}




/* ANIMACIONES */

/* inicio animacion del logo index */
.rotate-vert-center {
	-webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s; 
	        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s;
}


 @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }

  /* fin animacion del logo index */

  

  /* animacion logo */

.cabecera__logo img{
    transition: transform .8s;
}

.cabecera__logo img:hover { 

    transform:scale(1.1);
}

/* fin animacion logo */



  








/* MEDIA QUERIES */



@media screen and (max-width: 768px) {

    /* INICIO INDEX */

    .index{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header     header      header"
                             "main       main        main"
                             "nosotros   nosotros    nosotros"
                             "media      media       media"
                             "footer     footer      footer";
    }

    .cabecera__navegacionPC ul {
        display: flex;
        flex-direction: column;
    }
    
    .cabecera {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .cabecera .cabecera__redes-sociales .cabecera__icono {
        display: none;
    }

    .cabecera .cabecera__navegacionPC {
        display: inline-block;
        text-align: end;
    }
    .cabecera .cabecera__navegacionPC a {
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }

 
    .fondo .fondo__contenedor {
        display: flex;
        justify-content: center;
        height: 500px;
        background-position: inherit;
          
    }

    .fondo .fondo__logo { 
        bottom: 4rem;
    }

    .seccion .seccion__media video {
        width: 100%;
        display: flex;
    }

      /* FIN INDEX */

      /* INICIO MODA */
      
      .moda{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:  
                               "foto        foto"
                               "titulo      titulo"
                               "linea      linea"
                               "foto2      foto2"  
                               "titulo2    titulo2"  
                              
    }

    .cabecera .cabecera__navegacionPC .cabecera__navegacion--contacto {
        background-color: hsl(27, 100%, 91%);
        margin-top: -0.625rem;
        margin: 13px auto;

    }

    .main__contenedorDos {
        margin: 10px 0px;
    }

    .main__contenedor img{
        height: 29.5rem;
        padding: 2.5rem;
        width: 100%;
        box-shadow: none;
    }

   .main__contenedorDos img {
        height: 24.5rem;
        width: 100%;
        padding: 0px;
        box-shadow: none;
    }

    .cabecera .cabecera__logo {
        margin: 0.938rem auto;
        position:static;
    }
    
    .main__nosotros {
        align-content: center;
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .main__textoIzquierda h1, .main__textoIzquierda p {
        margin: 10px auto;
        text-align: center;
        margin-bottom: 29px;
    }

    /* FIN DE MODA */



    
    
/* INICIO FOOD FOTOGRAPHY */



.fondoComida {
	display: flex;
	/* justify-content: end; */
	position: relative;
	justify-content: center;
}

.fondoComida .fondoComida__texto h1 {
	font-size: 1rem;
}
.fondoComida .fondoComida__texto p {
	hyphens: auto;
}



.fondoComida .fondoComida__texto {
	width: 40%;
	color: #ffffff;
	margin-left: 200px;
	display: flex;
	flex-direction: column;
    text-align: justify;
    margin-right: -151px;
}



input[type="button"] {
	width: 90%;
	margin: 0 auto;
	/* margin-bottom: ; */
	position: absolute;
	bottom: 6px;
	left: 0px;
	right: 0px;
}


    
   
}












@media screen and (max-width: 320px)  {

      /* INICIO INDEX */

    .index{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header     header      header"
                             "main       main        main"
                             "nosotros   nosotros    nosotros"
                             "media      media       media"
                             "footer     footer      footer";
    }
    
    .cabecera__navegacionPC ul {
        display: flex;
        flex-direction: column;
    }

    .cabecera {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .cabecera .cabecera__navegacionPC {
        display: inline-block;
        text-align: end;
    }
    .cabecera .cabecera__navegacionPC a {
       margin: 10px auto;
       display: flex;
       justify-content: center;
    }

    .fondo .fondo__contenedor {
        display: flex;
        justify-content: center;
        height: 500px;
        background-position: inherit;
          
    }

    .fondo .fondo__logo { 
        bottom: 4rem;
    }

    .articulo__nosotros h1 {
        text-align: center;
        margin-top: 6rem;
        width: 100%;
    }

    .articulo__nosotros p {
        width: 90%;
        text-align: center;
        margin-top: 2rem;
        line-height: 1.5rem;
    }

    .seccion .seccion__media video {
        width: 100%;
        display: flex;
    }
    
    .footer {
        position: relative;
        width: 100%;
        text-align: center;
        height: 0px;
        color: #ffff;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }

    .footer {
        height: 100px;
    }

    .footer .footer__caja {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 64%;
        height: 0px;
        top: 0px;
    }

 
    .footer__valores {
        display: none;
    }

    .cabecera .cabecera__redes-sociales .cabecera__icono {
        display: none;
    }

    .footer .footerDos__redes-sociales {
        display: flex;
        margin-left: 1rem;
        margin: 38px auto;
    }
    
    .footer .footerDos__redes-sociales .footerDos__icono {
        margin: 0 0.313rem;
        background-color: hsl(205, 52%, 17%);
        width: 26px;
    }

      /* FIN INDEX */

      /* INICIO MODA */

      .moda{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:  
                               "foto        foto"
                               "titulo      titulo"
                               "linea      linea"
                               "foto2      foto2"  
                               "titulo2    titulo2"  
                              
    }
    


    .cabecera .cabecera__navegacionPC .cabecera__navegacion--contacto {
        background-color: hsl(27, 100%, 91%);
        margin-top: -0.625rem;
        margin: 10px 85px;
    }

    .main__contenedorDos {
        margin: 10px 0px;
    }

    .main__contenedor img{
        height: 29.5rem;
        padding: 2.5rem;
        width: 100%;
        box-shadow: none;
    }

   .main__contenedorDos img {
        height: 24.5rem;
        width: 100%;
        padding: 0px;
        box-shadow: none;
    }

    .cabecera .cabecera__logo {
        margin: 0.938rem auto;
        position:static;
    }

    .main__nosotros {
        width: 100%;
        align-content: center;
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__nosotros p {
        margin: 0 15px;
        margin: 0 38px;
        text-align: justify;
        hyphens: auto;
    }

    .main__textoIzquierda {
        margin: 0 17px;
    }

    .main__textoIzquierda p {
        margin: 0 38px;
        text-align: justify;
        hyphens: auto;
        margin-bottom: 20px;

    }


    .main__textoIzquierda h1{
        width: 100%;
        margin: 10px auto;
        text-align: center;
        margin-bottom: 29px;
    }

   

    

    .footerDos ul {
        display: none;
    }

    .footerDos .footerDos__redes-sociales {
        display: flex;
        /* margin-top: 15px; */
        /* margin-left: 1rem; */
        margin: 0 auto;
    }
    
    .footer .footerDos__redes-sociales .footerDos__icono {
        margin: 0 0.313rem;
        background-color: hsl(205, 52%, 17%);
        width: 26px; 
    }

    .footerDos {
        position: relative;
        width: 100%;
        text-align: center;
        height: 100px;;
        background-color: hsl(205, 52%, 15%);
        color: #ffff;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }

    /* FIN DE MODA */


        


    /* INICIO FOOD FOTOGRAPHY */



    .fondoComida {
        display: flex;
        justify-content: end;
    }



    .fondoComida .fondoComida__texto {
        width: 40%;
        color: #ffffff;
        margin-left: 200px;
        display: flex;  
    }

    .fondoComida__texto h1,
    .fondoComida__texto p {
        display: none;
        
    }

    input[type="button"] {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 18px;
    }



    /* FIN FOOD FOTOGRAPHY */

    /* INICIO RETRATOS */

    .retratos .retratos__fotos .retratos__imagen img {
        width: 100%;
    }

    .retratos .retratos__texto h1 {
        font-size: 0.9rem;
    }

    .retratos .retratos__texto p {
        text-align: justify;
        hyphens: auto;
    }

}








