@import "./var";


.footerDos {
    width: 100%;
    text-align: center;
    height: 25rem;
    color: #000000;
    font-size: 0.8rem;  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $tipografia-general;
    top: 50px;

        & ul {
            list-style-type: none;
            text-align: justify;
            font-size: 1rem;
            line-height: 2.5rem;
            margin-left: 2rem;
            padding-left: 0;
        }

        &__sociales {
            display: none;
        }
        &__redes-sociales-contacto {
            margin-top: 15px;
            margin-left: 1rem;
        }

        &__redes-sociales {
            display: flex;
            margin-top: 15px;
            margin-left: 1rem;
        }


        

        &__icono {
            margin: 0 0.313rem;
            width: 26px; 
        }
        &__icono.insta {
            top: -2px;
            position: relative;
        }

        &__redes-sociales a {
            margin: 0 4px;
        }

          
        &__mapa {
            display: block;
            position: absolute;
            padding: 3rem;
            right: 9rem;  
        }
        
    
}



  
/* Footer del index */

footer {
    grid-area: footer;
}

.footer {         
    position: relative;
    width: 100%;
    text-align: center;
    height: 400px;
    color: #000000;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;

    &__caja {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 80%;
        height: 12.5rem;
        top: 8rem;
        gap: 8%;
    }
    
    &__valores {
        width: 30%;
        list-style: none; 
    }
    
    &__valores h2 {
        margin-bottom: 1.25rem;
        font-size: 1rem;
        font-family: $tipografia-general;
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    &__valores p{
    
        font-family: $tipografia-general;
        font-size: 1rem;
    }
    
}

.footer .footerDos__redes-sociales {
    display: none;
}

/* Footer del index */

