@import "./var";


.index{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header     header      header"
                         "main       main        main"
                         "nosotros   nosotros    media"
                         "footer     footer      footer";
}

/* Cabecera */

header {
    grid-area: header;
}


.cabecera {
    @include flexbox--end;
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #000;  

        &__text{
            color: $color-texto;
            display: inline-block;
            margin: 0 0.938rem;
            text-decoration: none;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            font-family: $tipografia-general;
            transition: all .4s ease;
        }
        
        &__text:hover{
            color: #dc3545;
        }
        
        &__navegacionPC {
            margin-top: 1.9rem;
            display: inline-block;
            text-align: end;
        }
        
        &__navegacionPC li {
            list-style: none;
            display: inline-block;
        }
        
        &__navegacionPC a {
            @extend .cabecera__text;
        }
        
        &__navegacionPC a:hover {
            color: #dc3545;
        }
        
        &__navegacion--contacto {
            padding: 0.625rem;
            background-color: hsl(27, 100%, 91%);
            margin-top: -0.625rem;
            margin-right: 0.625rem;
            transition: all .4s ease;
        }
        
        &__navegacion--contacto:hover {
            background-color: hsl(27, 100%, 85%);
        }
        
        &__redes-sociales {
            display: inline-block;
            position: relative;
            margin-top: 1.25rem;
            margin-right: 0.938rem;
            top: 7px;
        }
        
        &__icono {
            width: 1.875rem;
        }
        
        &__redes-sociales a {
            display: inline-block;
            margin: 0 0.313rem;
        }
        
        &__logo {
            margin-top: 0.938rem;
            left: 0.8rem;
            position: absolute;
            
        }
        
        &__logo img, &__logo a {
            width: 7.813rem;
            
        }
}

/* Fondo y logo medio */

.index .fondo {
    grid-area: main;

        &__contenedor {
            @include flexbox--end;
            width: 100%;
            height: 100vh;
            position: relative;
            background-image: url(../../img/banner.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;      
        }

        &__logo {
            position: absolute;
            bottom: 2rem;  
        }
        
        &__logo img {
            width: 250px;
        }
    

}



/* quienes somos */


.index .articulo{
    grid-area: nosotros;

        & article {
            display: flex;
        }

        &__seccion {
            position: relative;
            width: 100%;
            height: 21.375rem;
            display: flex; 
            flex-direction: row;
        }
        &__nosotros {
            box-shadow: 0px -3px 18px 0px rgba(0,0,0,0.3);
            width: 100%;
        }
        
        &__nosotros h1 {
            text-align: center;
            margin-bottom: 1.625rem;
            margin-top: 7.813rem;
            @include tipografia;
        }
        
        &__nosotros p {
            @include tipografia;
        }
        
        &__nosotros p {
            width: 50%;
            text-align: center;
            margin: auto;   
        }
    
    
}




.index .seccion {
    grid-area: media;

        &__media {
            position: relative;
            display: flex;
            box-shadow: 0px -3px 18px 0px rgba(0,0,0,0.3);
        }
        
        &__media video {
            width: 608px;  
            display: flex;
        }

}







