@import "./var";


@media screen and (min-width: 320px) and (max-width: 990px)  {

    /* INICIO INDEX */

  .index{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, auto);
      grid-template-areas: "header     header      header"
                           "main       main        main"
                           "nosotros   nosotros    nosotros"
                           "media      media       media"
                           "footer     footer      footer";

  }

  .cabecera {
    height: auto;
    display: flex;
    flex-direction: column;

        &__navegacionPC {
            display: inline-block;
            text-align: end;
        }

        &__navegacionPC ul {
            display: flex;
            flex-direction: column;
        }

        &__navegacionPC a {
            margin: 10px auto;
            display: flex;
            justify-content: center;
        }

        &__icono {
            display: none;
        }
    
        &__btn {
            border: none;
        }
        
        &__btn:focus {
            box-shadow: none;
        }
        
        
        &__btn--top{
            top: 20px;
        }
        
        &__text{
            text-align: center;
        }
    
}


 .index .fondo{

        &__contenedor {
            display: flex;
            justify-content: center;
            height: 548px;
            background-position: inherit;

        }
    

        &__logo {
            margin-right: 0px;
        }
}




 .index .articulo {

        &__nosotros h1 {
            text-align: center;
            margin-top: 6rem;
            width: 100%;
        }
        &__nosotros p {
            width: 90%;
            text-align: center;
            margin-top: 2rem;
            line-height: 1.5rem;
        }
 }



  .index .seccion .seccion__media video {
      width: 100%;
      display: flex;
  }
  

  .footer {
      height: 100px;

        &__caja {
            height: 0px;
            top: 0px;
        }
    
    
        &__valores {
            display: none;
        }
    
  }


  .footer .footerDos__redes-sociales {
      display: flex;
      margin-left: 1rem;
      margin: 38px auto;
  }
  
    /* FIN INDEX */

    /* INICIO MODA */

    .moda{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);
      grid-template-areas:  
                             "foto        foto"
                             "titulo      titulo"
                             "linea      linea"
                             "foto2      foto2"  
                             "titulo2    titulo2";
                             
                             

        &__contenedor img{
            height: 100%;
            padding: 2.5rem;
            width: 100%;
            box-shadow: none;
        }

        &__nosotros {
            width: 100%;
            align-content: center;
            grid-area: titulo;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__nosotros p {
            margin: 0 15px;
            margin: 0 38px;
            text-align: justify;
            hyphens: auto;
        }

        &__contenedorDos {
            margin: 10px 0px;
        }


        &__contenedorDos img {
            height: 100%;
            width: 100%;
            padding: 0px;
            box-shadow: none;
        }

         &__textoIzquierda {
            margin: 0 17px;
        }

        &__textoIzquierda p {
            width: 84%;
            text-align: justify;
            hyphens: auto;
            margin-bottom: 20px;

        }


        &__textoIzquierda h1{
            width: 100%;
            margin: 10px auto;
            text-align: center;
            margin-bottom: 29px;
        }

        &__textoIzquierda h1, &__textoIzquierda p {
            margin: 10px auto;
            text-align: center;
            margin-bottom: 29px;
        }
                            
  }
  
    .cabecera{

        &__logo {
            margin: 0.938rem auto;
            position:static;
        }

        &__navegacion--contacto {
            background-color: hsl(27, 100%, 91%);
            margin-top: -0.625rem;
            margin: 10px 85px;
        }
    
    }






  .footerDos {
    position: relative;
    width: 100%;
    height: 100px;;
    background-color: hsl(205, 52%, 15%);
    color: #ffff;
    font-size: 0.8rem;
    @include flexbox--center;


        & ul {
            display: none;
        }
    
        &__redes-sociales {
            display: flex;
            margin: 0 auto;
        }
        
        &__icono {
            margin: 0 0.313rem;
            background-color: hsl(205, 52%, 17%);
            width: 26px; 
        }
  
}

  /* FIN DE MODA */


  /* INICIO FOOD FOTOGRAPHY */

  .fondoComida {
    @include flexbox--end; 

        &__texto {
            width: 40%;
            color: #ffffff;
            margin-left: 200px;
            display: flex;  
        }
    
        &__texto h1,
        &__texto p {
            display: none;
            
        }
        
  }


  input[type="button"] {
      width: 90%;
      margin: 0 auto;
      position: absolute;
      bottom: 16px;
      left: 0px;
      right: 0px;
  }
  
  /* FIN FOOD FOTOGRAPHY */


  /* INICIO CONTACTO */

  .caja{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
                              "texto       texto"
                              "form        form    ";


            &__texto {
            display: none;
        }
        
            &__formulario {
            margin: 0 auto;
        }
                          
  }

  .linea-contacto {
      display: none;
      }


      /* FIN CONTACTO */
  
}
