@import "./var";


.moda{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:  
                          "foto       titulo"
                           "linea      linea"
                          "titulo2    foto2";
                          
                          
                 
        &__contenedor {
        grid-area: foto;
        @include flexbox--center;
        margin-top: 19px;

        }                        

        &__contenedor img,
        &__contenedorDos img {
            height: 37.5rem;
            padding: 2.5rem;
            width: 100%;
            box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.5);
        }

        &__contenedorDos img  {
            background-color: hsl(34, 63%, 96%);
        }

        &__nosotros {
            width: 70%;
            @include flexbox--center;
            flex-direction: column;
            
        }

        &__contenedor &__nosotros h1,
        &__conentedorDos &__textoIzquierda h1 {
            margin-bottom: 3.75rem;
            font-family: $tipografia-general;
        }


        hr {
            grid-area: linea;
            width: 83%;
            border: 1px solid #808080;
            text-align: center;
            margin: 2.5rem auto;
        }


        &__contenedorDos {
            grid-area: foto2;
            display: flex;
            justify-content: center;
            margin: 50px 0px;
            
        }

        &__textoIzquierda h1,
        &__nosotros h1 {
            font-size: 1rem;
            margin-bottom: 40px;
        }




        &__textoIzquierda {
            grid-area: titulo2;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        &__textoIzquierda h1,
        &__textoIzquierda p {
            width: 70%;
            margin-left: 9rem;
        }
                    
}




